*{
    margin:0;
    padding:0;
    text-decoration: none;
    
}
.container{
    display:flex;
    background-color: #e9ecef;
}
/* main{
 
    width: 89.5%;
    padding: 49px;
    margin-top: 11px;
   
    border-radius: 10px;
    margin-left: 10px;
    height: 86vh;
    background-color: #e9ecef;

} */
/* .map-canvas{ */
    /* width: 73.5%; */
    /* padding: 49px; */
    /* margin-top: 11px;
   
    border-radius: 10px;
    margin-left: 10px;
    height: 97.3vh;
    background-color: #e9ecef; */

/* } */
.sidebar {
    background: #e9ecef;
    height: 100vh; /* Set initial height to viewport height */
    width: 200px;
    overflow-y: auto; /* Allow vertical scrolling when content exceeds sidebar height */
    transition: all 0.5s;
}

/* Hide the scrollbar */
.sidebar::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to 0 */
}

.top_section{
    display: flex;
    align-items:center;
    padding:10px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    color: #000;
   
    
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
.leaflet-container {
    margin-top: 11px;
   
    border-radius: 10px;
    margin-left: 10px;
    height: 97.3vh;
    background-color: #e9ecef;

    /* width: 100%; */
    
  }
  /* .mapInput{
    position: 'absolute';
    z-index: '1000';
    
  } */
  .search-button{
    position: absolute;
    top: 23px;
    left: 370px;
    z-index: 1000;
    color: #495057;
    border: none;
    font-size: 18px;
    background: none;

  }
  
  .popover {
    z-index: 1000;
    position: absolute;
    top: 50px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* User icon styles */
  .circle-container {
    z-index: 1000;
    position: absolute;
    
    top: 20px;
    right: 22px;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  /* User icon styles */
  .user-icon {
    font-size: 20px; /* Adjust icon size as needed */
    color: #fff; /* Set icon color to white */
  }
  
  .location-icon{
    
  
    width: 40px;
    height: 40px;
    /* background-color: #000; */
    z-index: 1000;
    position: absolute;
    font-size: 31px;
     /* Adjust icon size as needed */
     background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Add transition for smooth hover effect */
}

.location-icon:hover {
  background-color: #cccccc; /* Darker background color on hover */
}
.search-container {
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 1000;
    border-radius: 25px; /* Apply initial border radius to the input */
    width: 300px;
    /* height: 27px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px;
  }
.ul-list_search {
    z-index: 1000;
    position: absolute;
    background: white;
    width: 320px;
    margin-top: 57px; /* Adjust margin to match the top position of the input */
    left: 100px; /* Adjust margin to match the left position of the input */
    border-radius: 0 0 25px 25px; /* Apply border radius only to the bottom of the list */
    text-align: left;
    list-style: none;
    padding: 0;
  }


.ul-list_search li {
    border-radius: 10px;

  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ul-list_search li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


.connector-icons-container img {
  width: 50px; /* Set the width of the images */
  height: 50px; /* Set the height of the images */
  margin: 5px; /* Add margin between the images */
}
.connector-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 10px; /* Gap between icons */
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.select-all {
  margin-bottom: 10px;
}
.css-ix7x7o-MuiPaper-root-MuiAccordion-root::before{
  position: relative !important;
}